
:root {
    --azul-dnc: #0c70f2;
    --preto-dnc: #303030;
    --cinza-hover: #C9C9C9;

    --fonte-hover: 'Inter';
}



body {
    margin:0px;
    padding: 0px;

    
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(13, 110, 236, 0) 24.84%), #303030;
    background-repeat: no-repeat;
}

    
    #mainPrincipal {
        width:97,1%;
        height:97,1%;
        padding:20px;
        border:1px solid black;
        
        background-color: var(--preto-dnc);
        display: flex;
        justify-content:space-between;
        border-bottom: 1px solid #BABABA;
    }
        #mainPrincipal div a {
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-weight:600;
            color: rgb(250, 249, 249);
            text-decoration: none;
            align-items: center;
            font-size: 17px;
        }
        #mainPrincipal div a:hover {
            color: var(--cinza-hover);      /* farzer com que quando vc passa o mause emcima do link mude de cor */
        }
        #menu {
            display:flex;
            width: 55%;
            justify-content:space-around;
            align-items: center;
        }
        #mainPrincipal button {
            margin-right: 5%;
            background-color: rgb(47, 47, 250);
            border:0px;
            color: white;

            height:30px;
            width: 80px;

            font-family: 'inter';
            font-size: 15px;
            font-weight: 600;

            box-shadow: 3px 2px 4px  rgba(12, 112, 242, 0.25);    /* fazer o button ter uma sombra */
            cursor: pointer;
        }
        /* Seção princial do site */

        section {
            display: flex;
            flex-direction: column;
            align-items:center;
            
            margin-top:100px;
            margin-bottom:100px;
        }

            header {
                color: white;
                font-family: var(--fonte-hover);
            }
            header h1 {
                font-size: 80px;
                font-weight:800px;
                text-align: center;

                margin-bottom: 22px;
            }
            header h2 {
                text-align:center;
                font-size: 40px;
                font-weight:700px;

                margin-bottom: 100px;
            }
            header .invert {
                background-color: black;
                font-weight: bold;
                padding: 5px;


            }
            
            /* Formulario */
            
            form {
                color:white;
                font-family: var(--fonte-hover);
                font-size: 30px;
                font-weight: 600;
                width: 600px;
            }

            .formGrup {
                display: flex;
                flex-direction:column;
                margin-top:10px;
                margin-bottom: 10px;
            }
            
            form input {
                border-radius: 10px;
                height:30px;
                border: 0px;

                font-size: 20px;
                padding: 10px;

                background-color: rgba(255, 255, 255, 0.9);
            }
            
            form label {
                margin: 10px 0px 10px 0px;
            }

            form input::placeholder {
                color: rgba(57, 57, 57, 0.5);
            }

            .chackboxItens label {
                font-size: 25px;
            }

            .chackboxItens {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            input[type="checkbox"] {
                transform: scale(1.7);
            }

            .button  {
                background-color: rgba(12, 112, 242, 0.9);
                width: 100%;
                border: 0px;
                border-radius: 9px;
                height:50px;
                margin-top: 70px;

                font-size: 29px;
                color: white;

                box-shadow:  0px 6px 4px  rgba(12, 112, 242, 0.25);
                cursor: pointer;
            }